@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,400,900");
a.white-mode, a.white-mode:link, a.white-mode:visited, a.white-mode:active {
  position: fixed;
  font-family: "Montserrat";
  transform: rotate(-90deg);
  transform-origin: 0 0;
  left: 40px;
  bottom: 0px;
  font-size: 12px;
  text-decoration: none;
  background: #f7f7f7;
  padding: 4px 8px;
  z-index: 10;
  color: #3B425A;
}
a.white-mode:hover, a.white-mode:link:hover, a.white-mode:visited:hover, a.white-mode:active:hover {
  background: #7B46FE;
  color: #FDFA75;
}

body {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  color: #FFF;
}

h1 {
  font-size: 56px;
  font-weight: 400;
  color: #7045ff;
  position: relative;
}
h1:after {
  content: "";
  padding-bottom: 30px;
  display: block;
  border-bottom: 1px solid #464c63;
  width: 60%;
}

h2 {
  font-size: 36px;
  font-weight: 100;
  color: #83ffe1;
  position: relative;
}

img {
  max-width: 100%;
}

.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  right: 100px;
  top: 5%;
  width: 1px;
  height: 90%;
  background: #464c63;
}
.timeline .bar {
  position: absolute;
  width: 1px;
  height: 2px;
  background-color: #fcf769;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  padding-left: 200px;
}

section {
  border-top: 2px solid #FFFFFF;
  padding: 20px;
  font-size: 16px;
  font-weight: 200;
  font-family: "Montserrat";
}

p {
  line-height: 2;
}

.node {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #141414;
  left: -1px;
  z-index: 1;
  cursor: pointer;
  border-radius: 3px;
}
.node:hover {
  background: #46ffdd;
}
.node:hover span {
  opacity: 1;
}
.node:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: -3px;
  top: -3px;
}
.node span {
  transition: all 0.4s ease-out;
  text-transform: uppercase;
  right: 4px;
  top: -16px;
  color: #141414;
  position: absolute;
  padding: 10px;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 200;
  font-family: "Montserrat";
  opacity: 0;
}
h2 {
  color: #f1f3f7;
  font: 8.2rem/.85  'Montserrat', sans-serif;
  left: 1rem;
  position:absolute;
  margin: -1.5rem auto;
  -webkit-transform: scaleX(1.05);
  transform: scaleX(1.05);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #141414;
  text-transform:uppercase;
  font-weight:900;
   -webkit-transition:all .4s cubic-bezier(.19,1,.22,1);
        -moz-transition:all .4s cubic-bezier(.19,1,.22,1) ;
        transition:all .4s cubic-bezier(.19,1,.22,1);
  &:hover {
    cursor:pointer;
     -webkit-text-fill-color: #141414;
    -webkit-transition:all .4s cubic-bezier(.19,1,.22,1);
    -moz-transition:all .4s cubic-bezier(.19,1,.22,1) ;
    transition:all .4s cubic-bezier(.19,1,.22,1);
    -webkit-text-stroke-width: 4px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-text-stroke-color: #141414;
  }
}
.wrapper{
  position: absolute;
  display: flex;
  left:40%;
  top: 55%;
  font-family: 'Poppins', sans-serif;
}
.wrapper .static-txt{    
  color: #141414;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #141414;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  border-left: 2px solid #141414;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}